.shop{
    position: relative;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.count{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2980b9;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pizza{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdc3c7;
    align-items: center;
}

.pizza:last-child{
    border: none;
}

.total{
    text-align: right;
    font-weight: bold;
}

.priceAndButton{
    display: flex;
    align-items: center;
}

.trash{
    height: 33px;
    margin-left: 5px;
}

.alert{
    background-color: #e67e22;
}